body{
    background-color: rgb(215, 219, 221);
}

main{
    padding-right: 150px; 
    padding-left: 150px; 
}

.a-propos{
    background-color: rgb(38, 38, 38);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
}

.border{
    border: solid 2px #28c0c5;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.a-propos h1{
    color: #fff;
}

.a-propos h3{
    color: #fff;
    margin-bottom: 0;
}

.txt-centre-blanc{
    text-align: center;
    color: #fff;
    font-size: 15px;
}

.banniere{
    display: flex;
    flex-direction: row;
    background-color: rgb(38, 38, 38);
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
}

.bold-blanc{
    color: #fff;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 10px;
}

.banniere-contact{
    width: 33%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.banniere-livraison{
    width: 33%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-right: solid 1px #28c0c5;
    padding: 20px;
}

.banniere-paiement{
    width: 33%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-right: solid 1px #28c0c5;
    padding: 20px;
}

.txt-centre-blanc-no-margin{
    margin: 0;
    text-align: center;
    color: #fff;
    font-size: 15px;
}

.img-banniere{
    width: 19%;
    height: auto;
    margin: 0;
}

.horraire{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
}

.border-top{
    border-top: solid 2px #28c0c5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 20px;
}

.txt-centre-noir{
    text-align: center;
    font-size: 15px;
}

.nouveauté{
    background-color: rgb(38, 38, 38);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
}

.article{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.container-article{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 33%;
    height: auto;
    padding: 50px;
}

.img-article{
    width: 100%;
    height: auto;
}

.img-article2{
    width: 60%;
    height: auto;
}

.nouveauté h1{
    color: #fff;
}

.lien-article{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.nom-prod{
    font-family: 'Hammersmith One', sans-serif;
    margin-top: 20px;
}

.descri-prod{
    font-family: 'Hammersmith One', sans-serif;
}

.img-article img{
    transition: all 0.5s ease;
}

.img-article:hover img{
    transform:scale(1.25);
    filter: brightness(80%);
} 








