html,body{
    margin:0;
    padding: 0;
}

body{
    background-color: rgb(215, 219, 221);
}

main{
    padding-right: 150px; 
    padding-left: 150px; 
}

.box_produit{
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 15%;
    text-align : center;
    border: solid 2px #28c0c5;
    margin-bottom: 25px;
    margin-right: 20px;
}

.img_prod{
    width: 50%;
    height: auto;
}

.img_prod2{
    height: 175px;
}

.produits{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    margin: 25px;
    flex-wrap: wrap;
}

.nom_prod{
    margin-top: 10px;
    font-family: 'Hammersmith One', sans-serif;
}

.descri_prod{
    font-family: 'Hammersmith One', sans-serif;
}

.lien_produit{
    width: -130px;
    height: -130px;
}

.titre{
    text-align: center;
    font-size: 25px;
    margin-top:20px;
}

.lien-article{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cat_menu{
    height:25px;
}

.btnGestAdmin{
    margin-bottom:10px;
}