.background{
    background-color: rgb(38, 38, 38);
}

.footer-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 20px;
}

.footer-container p{
    color: #666;
}

.footer-container h3{
    color: #fff;
}

.footer-container h4{
    color: #fff;
}

.footer-container a{
    color: #666;
    text-decoration: none;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-heading{
    display: flex;
    flex-direction: column;
}

.footer-container a:hover{
    color: #28c0c5;
    transition: 0.3s ease-out;
}

.footer-heading-1{
    width: 30%;
    text-align: justify;
}

.footer-heading-2{
    display: flex;
    flex-direction: column;
}

.footer-heading-3{
    display: flex;
    flex-direction: column;
}

.footer-heading-4{
    display: flex;
    flex-direction: column;
}

.sociaux{
    display: flex;
    flex-direction: row;
}

.copyright{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.txt-copyright{
    margin: 0;
}

.txt-copyright-I{
    margin: 0;
    font-weight: bold;
}

.txt-copyright-C{
    margin-top: 20px;
}

#img-paiement{
    width: 70%;
    height: auto;
}

.img-sociaux{
    height: 40px;
    width: auto;
    margin-right: 10px;
}






