.footer-container {
    background-color: rgb(234, 223, 208);
    padding-bottom: 0px;
    background-color: rgb(242, 243, 244);
    padding-bottom: 0.5px;
}

.footer {
    width: 80%;
    height:45vh;
    background-color: rgb(234, 223, 208);
    height:48vh;
    background-color: rgb(242, 243, 244);
    color: #D93814;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top:0px;

}

.footer-heading{
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.footer-heading h2 {
    margin-bottom: 2rem;
}

.footer-heading a {
    color: #D93814;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer-heading a:hover {
    color:black;
    transition: 0.3s ease-out;
}



#footer-mess {
    width: 350px;
    height: 40px;
}


@media screen and (max-width :1150px){
    .footer {
        height: 50vh;
    }
    .footer-email-form {
        margin-top: 4rem
    }
}

@media screen and (max-width :820px){
    .footer {
        padding-top:2rem;
    }
}

@media screen and (max-width :720px){
    .footer-3 {
        display: none;
    }
    .footer-email-form {
        margin-top: 2rem;
    }
}