body{
    background-color: rgb(215, 219, 221);
}

main{
    padding-right: 150px; 
    padding-left: 150px; 
}

.page_messages_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    padding: 20px;

}
.messages{
    padding-bottom:15px;
    border-top: dotted 1px
}