main{
    display: flex;
    flex-direction: row;
    
}

.nav{
    width: 15%;
    height: 100%;
    border-right: solid 2px rgb(230, 126, 34);
}

.container-nav{
    width: 100%;
    height: auto;
    margin: 15px;
    background-color: red;
}