main{
    display: flex;
    flex-direction: row;
}

.nav{
    width: 15%;
    height: 100%;
    border-right: solid 2px rgb(230, 126, 34);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-nav{
    width: 95%;
    height: 98%;
    background-color: red;
}