body{
    background-color: rgb(215, 219, 221);
}

main{
    padding-right: 150px; 
    padding-left: 150px; 
}

.text_solde{
	text-align:center;
	font-size: 30px;
	font-family: 'Inter', sans-serif;
}

.text_panier{
	font-size: 25px;
	font-family: 'Inter', sans-serif;
}

.text_article{
	font-size: 20px;
	font-family: 'Inter', sans-serif;
}
.text_montant{
	font-size: 20px;
	font-family: 'Inter', sans-serif;
}

.text_commander{
	text-align:center;
	font-size: 30px;
	margin-bottom: 50px;
}
