body{
    background-color: rgb(215, 219, 221);
}

main{
    padding-right: 150px; 
    padding-left: 150px; 
}

#form1,#form2,#form3,#form4{
    display:none;
}

.img_produit{
    width: 300px;
    height: 450px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.box_produit{
    display: flex;
}

.colonne{
    display: flex;
    flex-direction: column;
}

.nom_prod{
    font-family: 'Oxygen', sans-serif;
    font-size: 25px;
}

.stock_prod{
    margin-top: 30px;
    color: #6495ED;
    font-family: 'Oxygen', sans-serif;
}

.descri_prod{
    margin-top: 30px;
}

.prix_prod{
    margin-top: 10px;
    color:#FFA500;
    font-family: 'Oxygen', sans-serif;
}

.quant{
    margin-top: 350px;
}

.quantité{
    margin-right: 800px;
}

.titre{
    text-align: center;
    font-size: 25px;
}

.produits{
    width: 100%;
    height: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}